<html>
<head>
    <link href="/Flat-UI-master/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Flat-UI-master/dist/css/flat-ui.css">
    <link type="text/css" rel="stylesheet" href="/style.css"/>
</head>

<body>
    <br>
	<p>Note has been deleted.</p>
	<a href="/"><button class="btn btn-default">Back</button></a>
</body>
</html>