<html>

<head>
    <script src="app.js"></script>
    <link href="/Flat-UI-master/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Flat-UI-master/dist/css/flat-ui.css">
    <link type="text/css" rel="stylesheet" href="/style.css"/>
</head>

<body>
	<h1>NOTE IT!</h1>
	
	<a href="new_note.html"><button class="btn btn-primary">New Note</button></a>
	
	<div id='notes'>
		<br>
		{{#notes}}
		<a>{{title}}</a>
		<a href="note/{{id}}"><button class="btn btn-info">View Note</button></a>
		<br>
		<br>
		{{/notes}}
	</div>
	
	{{^notes}}
	<p>No notes yet.</p>
	{{/notes}}
	
	<button class="btn btn-success" onclick='loadMore()'>Load more</button>

	
</body>
</html>