<html>
<head>
    <link href="Flat-UI-master/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Flat-UI-master/dist/css/flat-ui.css">
    <link type="text/css" rel="stylesheet" href="/style.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
	<form action="modify" method="post" id="formulario2">
		<p>Title </p>
		<input type='text' class="form-control flat" name='title' value="{{title}}">
		<p>Items:</p>
		<div id="items">
		{{#items}}
			<div id="{{id}}" class="container">
            	 <input type="text" class="form-control flat" name="item" value="{{item}}"> <button type="button" class="btn btn-danger" onclick="BorrarInput(id)">🗑️</button> <br><br>
			</div>
		{{/items}}
		</div>
		<button type="button" class="btn btn-info" onclick="CargarInputs()">+</button>
		<br><br>
		<a href="/note/{{id}}"><input type="button" class="btn btn-default" value="Back"/></a>
		<input class="btn btn-primary" type='submit' value='Save'/></input>	
	</form>
	
	<script src="http://localhost:3000/app.js"></script>
    
</body>
</html>